<nav>
  <ul class="navbarClass">
    <a href="/" class="navbarItem">Home</a>
    <a href="/convert" class="navbarItem">Convert</a>
    <a href="/register" class="navbarItem" id="thirdAnchor">Register</a>
    <a href="/login" class="navbarItem" id="fourthAnchor">Login</a>
  </ul>
</nav>
<script src="/logic/navbarLogic.js"></script>
