<div class="pdfListContainer">
  <span class="generateSpan">Genrate</span>
  <ul class="pdfUl pdfUlHidden">
    <li class="pdfLi">Vacation</li>
    <li class="pdfLi">Hospital</li>
    <li class="pdfLi">Resign</li>
  </ul>
</div>
