<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <title>Error</title>
  </head>
  <body>
    <%- include('./partials/navbar_user.ejs') %>
    <h1>Error</h1>
    <section class="errorSection">
      <img src="/sad.svg" alt="error" class="erroImg" />
      <p class="errorText"><%= errorMessage %></p>
    </section>
  </body>
</html>
