<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <title>Reset Password</title>
  </head>
  <body>
    <%- include('./partials/navbar_user.ejs') %>
    <h1>Reset Password</h1>
    <section class="loginSection">
      <label for="usernameInput">Username:</label>
      <input class="loginSectionInput" type="text" id="usernameInput" />
      <button id="checkUsernameButton" class="checkUsername">Check</button>
    </section>

    <section class="loginSection">
      <label for="passwordInput">Secret Question:</label>
      <input
        disabled
        class="loginSectionInput questionInput"
        type="text"
        id="secretQuestionInput"
        readonly
      />
    </section>

    <section class="loginSection">
      <label for="passwordInput">Secret Answer:</label>
      <input
        disabled
        class="loginSectionInput"
        type="text"
        id="secretAnswerInput"
      />
    </section>

    <section class="loginSection">
      <label for="passwordInput">New Password:</label>
      <input
        disabled
        class="loginSectionInput"
        type="password"
        id="newPasswordInput"
      />
    </section>

    <section class="loginSection">
      <label for="passwordInput">Confirm Password:</label>
      <input
        disabled
        class="loginSectionInput"
        type="password"
        id="newPasswordConfirmInput"
      />
    </section>

    <button id="updatePasswordButton" class="changePwButton">
      Update Passwrod
    </button>

    <%- include('./partials/feedback.ejs') %>
  </body>
  <script src="/logic/forgotPasswordLogic.js"></script>
</html>
